.navContainer{
    margin-top: 1.5vw;
    margin-left: 8vw;
    display: flex;
}
.nav{
    display: flex;
    width: 60vw;
    align-items: center;
    justify-content: space-around;
}
.link{
    color: black;
    font-size: 1rem;
    text-decoration: none;
}
.link:hover{
    text-shadow: 1px 1px 1px black;
}
.cartContainer{
    display: flex;
    align-items: center;
    flex-grow: 1;
    justify-content: flex-end;
    margin-right: 10vw;
}
.cart{
    font-size: x-large;
}
