.bannerBottom{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 38vw;
    height: 20vw;
    background-color: #f4f3eb;
    border-radius: 5%;
    position: relative;
}
.bannerBottom:hover{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.imageContainer{
    margin: 0.8rem;
    background-color: #f4f3eb;
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}
.explain{
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: space-between;
}
.p1{
    margin: 0;
    margin-bottom: 1rem;
    color: black;
    font-size: 1.5rem;
    text-decoration: none;
    width: 100%;
    text-align: center;
}
.p2{
    margin: 0;
    padding-bottom: 0.5rem;
    color: black;
    font-size: 0.8rem;
    text-align: center;
}
